[Desktop Entry]
Name=Kaji
Exec=/usr/lib/kaji/Kaji %U
Icon=/usr/share/pixmaps/kaji.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/kaji;